
<div id="right-contents" class="float-left">

  
  <!-- 비밀번호 변경 -->
  <div class="setting-box absolute">
    <h4>비밀번호 변경</h4>
    <form>

      <div class="inputG pb-5">
        <span class="input-wrapper w-full">
          <label>
            현재 비밀번호 
          </label>
          <input
            class="focus:outline-none"
            type="text" placeholder="" required>
        </span>
      </div>
      <div class="inputG pb-5">
        <span class="input-wrapper w-full">
          <label>
            새로운 비밀번호 
          </label>
          <input
            class="focus:outline-none"
            type="text" placeholder="" required>
        </span>
      </div>
      <div class="inputG pb-5">
        <span class="input-wrapper w-full">
          <label>
            비밀번호 확인
          </label>
          <input
            class="focus:outline-none"
            type="text" placeholder="" required>
        </span>
      </div>

      <div class="text-sm btn-w-basic text-center ">
        <div class="inline-block cursor-pointer text-center bg-blue-main hover:bg-blue-main text-white text-lg rounded-full" routerLink="/studentstep2">
          <span class="px-6">확인</span>
        </div>
      </div>
      <div class="text-center"><p class="noti-txt">비밀번호가 변경되었습니다!</p></div>

    </form>
  </div>


</div>