
#right-contents{
    width: calc(100% - 60px);
    
    height: calc(100vh - 82px);
    border-left:solid 2px #d8d7d6;
    min-height:750px;
    &:before{
        content:"";
        position:absolute;
        top:82px;
        left:62px;
        width: calc(100% - 62px);
        height:311px;
        background-color:#e5e5e5;
        border-bottom:solid 2px #d8d7d6;
    }  
    .setting-box{
        top:190px;
        left:50%;
        transform:translate(-50%,0);
        background-color:#fff;
        border-radius:10px;
        min-width:498px;
        padding:3.125rem 4.06rem;
        h4{
            font-size:2.5rem;
            line-height:1;
            padding-bottom:3.125rem;
        }
        .btn-w-basic{
            
            div{
                min-width:160px;
                height: 43px;
                line-height: 45px;
            }
        }
        .noti-txt{
            color:#0126c4;
            font-size:0.875rem;
            padding-top:2.5rem;
        }
        .inputG{
            
        }
    }      
    
}