<section id="join">
  <div class="flex h-full">
    <div class="w-1/2 h-full relative cursor-pointer hoverBright trans150" routerLink="/main">
      <div class="join-background h-full bg-center bg-no-repeat bg-cover"></div>
      <div class="text-center ab-center-center">
        <h2 class="h2_title uppercase text-4xl font-bold temp_font ">
          nowcoding
        </h2>
      </div>
    </div>
    
    <div class="w-1/2 h-full relative childBlock">
      <router-outlet class="test"></router-outlet>
    </div>
  </div>
</section>
