$img_path : "/src/assets/img";
$main-color: #0000fc;
$navy-color: #0126c4;
$gray-color: #929292;
$gray-color2: rgba(0,0,0,.6);
$gray-color3: rgba(0,0,0,.8);
$gray-btn: #9f9f9f;
$gray-btnhover: #939292;
$red-color: #e26464;
$sub-color: #f7f2ef;